/* CSS 초기화 */
* {
  box-sizing: border-box;
}

/* HTML, Body 초기화 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* Root 앱 컨테이너 설정 */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
